.container {
  display: flex;
}

#light {
  background-color: #f3ebf6;

}

#dark {
  background-color: #010001;
  color:yellow;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
